<%- include("partials/header"); -%>
    <div class="container">
        <h1>
            <%= title %>
        </h1>
        <div>
            <%= content %>
        </div>
    </div>
    <%- include("partials/footer"); -%>